/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2017-12-06 13:12:15 */

	@media (max-width:1279px){
		.header-container.sticky-header.type11{position:fixed;left:0;top:0;width:100%;z-index:50;box-shadow:0 0 3px rgba(0,0,0,.3);transition:all 0.3s;background-color:#555}
	}
    @media (max-width:1199px){
        .header-container.sticky-header.type7,.header-container.sticky-header.type13{position:fixed;left:0;top:0;width:100%;z-index:50;box-shadow:0 0 3px rgba(0,0,0,.3);transition:all 0.3s;bottom:auto}
        .header-container.sticky-header.type13 .header .mini-cart{position:static}
    }
    @media (max-width:991px){
		.header-container.sticky-header,.header-container.sticky-header.type12,.cms-index-index .header-container.sticky-header.type8{position:fixed;left:0;top:0;width:100%;z-index:50;box-shadow:0 0 3px rgba(0,0,0,.3);transition:all 0.3s;bottom:auto}
        
		.header-container.sticky-header.type2 .top-links-container{display:none}
		.header-container.sticky-header.type3 .top-links-container{display:none}
		.header-container.sticky-header.type4 .top-links-container{display:none}
		.header-container.sticky-header.type6 .top-links-container{display:none}
		.header-container.sticky-header.type6 .header-wrapper{display:none}
        .header-container.sticky-header.type8 .header-wrapper{display:none}
		.header-container.sticky-header.type9 .top-links-container{display:none}
		.header-container.sticky-header.type10{position:relative}
		.header-container.sticky-header.type10 .menu-wrapper>.custom-menu-block{display:none}
		body.side-header .top-container > .breadcrumbs.fixed-position{position:relative}
		.header-container.sticky-header.type12 .switcher-area{display:none}
		.header-container.sticky-header.type12 .header>.logo{margin:0}
		.header-container.sticky-header.type12 .header>.logo img{height:35px}
		.header-container.sticky-header.type12 .mobile-group{margin-top:4px}
        .header-container.sticky-header.type8 .header{padding-top:10px;padding-bottom:10px}
	}
	@media (max-width:768px){
		.header-container.sticky-header.type11 .header-right-area>div{display:none}
		.header-container.sticky-header.type11 .header-right-area>div:first-child{display:block}
        .header-container.sticky-header.type8 .switcher-area{display:none}
        .header-container.sticky-header.type8 .top-links-area{margin:0}
        .header-container.sticky-header.type8 .header > .logo img{height:35px}
        .header-container.sticky-header.type8 .cart-area{margin-top:0;top:auto}
	}
    @media (max-width:480px){
		.header-container.sticky-header.type1 .header>.logo img{height:35px}
		.header-container.sticky-header.type1 .header-right-area>div{display:none}
		.header-container.sticky-header.type1 .header-right-area>div:first-child{display:block;margin:20px 0}

		.header-container.sticky-header.type2 .header{padding:5px 0}
		.header-container.sticky-header.type2 .header>.logo img{height:35px;margin:7.5px 0}

		.header-container.sticky-header.type3 .header>.logo{margin-top:7.5px;margin-bottom:7.5px}
		.header-container.sticky-header.type3 .cart-area, .header-container.sticky-header.type3 .search-area, .header-container.type3.sticky-header .menu-icon{margin-top:5px;margin-bottom:5px}
		.header-container.sticky-header.type3 .header>.logo img{height:35px}

		.header-container.sticky-header.type4 .header{padding:5px 0}
		.header-container.sticky-header.type4 .header>.logo img{height:35px;margin:7.5px 0}

		.header-container.sticky-header.type6 .header{padding:5px 0}
		.header-container.sticky-header.type6 .header>.logo img{height:35px;margin:7.5px 0}

		.header-container.sticky-header.type9 .header>.logo{margin-top:7.5px;margin-bottom:7.5px}
		.header-container.sticky-header.type9 .search-area{margin-top:5px;margin-bottom:5px}
		.header-container.sticky-header.type9 .header>.logo img{height:35px}

		.header-container.sticky-header.type11 .header>.logo img{height:35px}
	}
@media (max-width: 480px) {
    .category-products .products-grid li.item {
        float: none !important;
        width: 100% !important;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 1px solid #e4e4e4;
    height: 37px;
    background: #fff url(../../images/select-bg.svg) no-repeat 100% 48%;
    background-size: 30px 60px;
    padding-right: 25px;
    text-indent: .01em;
    text-overflow: '';
}
#newsletter_popup {
    display: none;
}

.icon-right-open:before {
    content: '\e81a';
}
.icon-left-open:before {
    content: '\e819';
}
.header-container.type20 {
    border-top: solid 4px #2f3946;
}
.header-container.type20 .top-links-container {
    border-bottom: solid 2px #eeeeee;
}
.header-container.type20 .top-links ul.links a,
.header-container.type20 .welcome-msg,
.header-container.type20 .compare-link>a,
.header-container.type20 .top-links .top-select .selectbox .select .text {
    font-weight: 400;
}
.header .form-search {
    border-radius: 20px !important;
}
.header-container.type20 .header .custom-block {
    display: inline-block;
    text-align: left;
    font-size: 11px;
    height: 42px;
    line-height: 1;
    border-right: solid 1px #eeeeee;
    padding-right: 35px;
    margin-right: 0;
}
.header-container.type20 .header .custom-block span,.header-container.type20 .header .custom-block b {
    color: #787d7f !important;
}
.header-container.type20 .header .custom-block b {
    font-family: 'Oswald';
    color: #282d3b !important;
    font-weight: 400;
}
.header-container.type20 .mini-cart {
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: auto;
    margin-left: 20px;
}
.header-container.type20 .mybag-link i {
    font-size: 33px;
}
.header-container.type20 .mybag-link .cart-qty {
    background-color: #ff5b5b;
    top:-12px;
    right: 28px;
}
.header-container.type20.sticky-header .menu-wrapper .mybag-link .cart-qty {
    right: 1px;
    top: -8px;
    color: #fff;
}
.header-container.type20.sticky-header .menu-wrapper .mybag-link i {
    color: #fff;
}
.header-container.type20 .mini-cart > a:after {
    color: #606669;
}
.header-container.type20 .mini-cart .topCartContent {
    border-top: solid 2px #ee2d43;
}
.header-container.type20 .main-nav ul.menu>li>a {
    font-family: 'Oswald';
    font-size: 12.5px;
    letter-spacing: 0.025em;
    font-weight: 400;
}
.header-container.type20 .main-nav .menu >li.menu-static-width .nav-sublist-dropdown .container ul >li >a.level1,
.header-container.type20 .main-nav .menu >li.menu-full-width .nav-sublist-dropdown .container ul >li >a.level1{
    font-family: 'Oswald';
    font-size: 13px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #434d53;
}
.top-container {text-align: left;}

.slider-with-side .content {
    position:absolute;width:100%;height:100%;left:0;top:0;
}
.slider-with-side .content .text-area{
    left:3%;bottom:10%;position:absolute;text-align:left;text-transform:uppercase;
}
.slider-with-side .slider-area .item .content .text-area h2 {
    font-family:'Oswald';font-size:50px;font-weight:700;line-height:1;letter-spacing: -0.05em;
    padding: 0 0 0 19px;
    display: block;
}
.slider-with-side .slider-area .item .content .text-area p {
    font-size:22px;font-weight:300;line-height:1;font-style:normal;
    padding:4px 0 0 21px;
    display: block;
}
.slider-with-side .slider-area .item .content .text-area a {
    font-family: 'Oswald';
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #fff;
    background-color: #fa4a4a;
    padding: 11px 26px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 3px;
    font-weight: 400;
}
.slider-with-side .owl-bottom-narrow .owl-controls {
    text-align: right;
    padding-right: 30px;
    bottom: 30px;
}
.slider-with-side .owl-theme .owl-controls .owl-page span {
    width: 11px;
    height: 3px;
}
.slider-with-side .side-area .item1, .slider-with-side .side-area .item2, .slider-with-side .side-area .item3 {
    margin-bottom: 9.5px;
}
#slideshow .category-products .products-grid.columns4 li.item:hover {
    padding: 10px;
}
.homepage-bar .col-md-4 {
    border: none;
}
.homepage-bar i {
    color: #9fa4af;
}
.homepage-bar .text-area {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 5px;
}
.homepage-bar h3 {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    line-height: 19px;
}
.homepage-bar p {
    font-size: 13px;
    font-weight: 300;
    color: #c8cdcf;
    line-height: 19px;
}
div.filter-title, h2.filter-title {
    background: none;
    border-bottom: solid 2px #e7e7e7;
    margin-bottom: 22px;
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.05em;
    color:#282d3b;
}
.filterproducts-tab .filter-title ul li a {
    border: none;
    position: relative;
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.05em;
    padding: 0;
    margin-left: 27px;
}
.filterproducts-tab .filter-title ul li.active a {
    color: #fa4a4a;
}
.filterproducts-tab .filter-title ul li.active a:after {
    content: '';
    position: absolute;
    background-color: #fa4a4a;
    height: 2px;
    width: 100%;
    bottom: -12.5px;
    left: 0;
}
.cms-index-index .block-category-nav {
    border: none;
    background-color: #f1f1f1;
    padding: 30px;
}
.cms-index-index .block-category-nav .block-title {
    border: none;
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: transparent;
    padding: 0 0 10px;
    color: #282d3b;
    margin-bottom: 19px;
    border-bottom: solid 2px #dfdfdf;
}
.cms-index-index .block-category-nav .block-title:before {
    display: none;
}
.cms-index-index .block-category-nav .block-content {
    background: none;
    border: none;
    padding: 0;
}
.cms-index-index .block-category-nav .category-list a {
    text-transform: uppercase;
    font-size: 12px;
    color: #546067;
    letter-spacing: 0.075em;
}
.cms-index-index .block-category-nav .category-list a.plus {
    font-size: 14px;
    line-height: 28px;
    color: #546067;
}
.cms-index-index .block-category-nav .category-list a.plus .icon-plus-squared:before {
    content: '\e81c';
}
.cms-index-index .block-category-nav .category-list a.plus .icon-minus-squared:before {
    content: '\e81b';
}
.cms-index-index .sidebar .custom-block {
    background: none;
    padding: 0 0 20px;
    margin-bottom: 15px;
    border: none;
}
.cms-index-index .sidebar .custom-block img {
    max-width: 100%;
    width: 100%;
}
.recent-inner .post-image {
    position: relative;
}
.recent-inner .post-image .post-date{
    background-color: #fa4a4a;
    text-align: center;
    font-family: 'Oswald';
    color: #fff;
    font-weight: 400;
    position: absolute;
    top: 6px;
    right: 8px;
}
.recent-inner .post-image .post-date .day {
    font-size: 22px;
    letter-spacing: 0.05em;
    background: none;
    color: #fff;
    font-weight: 400;
    padding: 5px 0 0;
    display: block;
}
.recent-inner .post-image .post-date .month {
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: none;
    font-weight: 400;
    padding: 0 0 8px;
    display: block;
    width: 39px;
}
.recent-inner .postTitle {
    margin-top: 20px;
    margin-bottom: 6px;
}
.recent-inner .postTitle h2 a {
    font-size: 16px;
    font-weight: 700;
}
.recent-inner .postContent {
    padding-bottom: 7px;
}
.recent-inner .postContent p {
    line-height: 24px;
    font-size: 13px;
    color: #767f84;
    margin: 0;
}
.recent-inner .readmore {
    text-transform: uppercase;
    font-size: 13px;
    color: #fa4a4a;
    font-weight: 600;
}
.brands-slide .owl-side-narrow .owl-controls {
    margin: 0;
}
.brands-slide .owl-side-narrow .owl-carousel {
    padding: 0 80px;
}
.brands-slide .owl-controls .owl-buttons div {
    position: absolute;
    top: calc(50% - 15px);
    background: none;
    color: #c2c2c2;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
.brands-slide .owl-controls .owl-buttons div.owl-prev {
    left: 0;
}
.brands-slide .owl-controls .owl-buttons div.owl-prev i:before {
    content: "\e829";
}
.brands-slide .owl-controls .owl-buttons div.owl-next {
    right: 0;
}
.brands-slide .owl-controls .owl-buttons div.owl-next i:before {
    content: "\e828";
}
.brands-slide .owl-side-narrow .owl-carousel a {
    display: inline-block;
    padding: 40px 0;
}
.owl-item.loading {
    min-height: 63px;
}
.top-container >.breadcrumbs {
    font-family: 'Oswald';
    font-size: 12px;
    letter-spacing: 0.075em;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: #e6e6e6 solid 1px;
    padding: 7px 0;
    line-height: 30px;
}
.breadcrumbs li a {
    font-weight: 400;
}
.breadcrumbs .icon-right-open:before {
    content: '\e828';
}
.breadcrumbs li strong {
    font-weight: 400;
    vertical-align: middle;
}

.block-category-nav {
    margin-bottom: 0;
}
.block-layered-nav dt, .block-layered-nav .currently .block-subtitle, .block-category-nav .block-title {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    font-family: "Oswald";
    color: #000;
    letter-spacing: 1px;
    font-size: 12px;
}
.block-category-nav .category-list a.plus .icon-plus-squared:before {
    content: '\e873';
}
.block-category-nav .category-list a.plus .icon-minus-squared:before {
    content: '\e874';
}
.block-category-nav .category-list a.plus {
    font-size: 11px;
    right: -10px;
    color: #21293c;
}
.block-category-nav .block-title strong {
    font-weight: 600;
}
.block-layered-nav dt:before, .block-category-nav .block-title:before {
    right: 11.6px;
}
.block-layered-nav dd, .block-category-nav .block-content{
    border: none;
    background-color: transparent;
    padding: 20px 15px;
}
.block-category-nav .block-content{
    padding-bottom: 24px;
}
.block.block-layered-nav {
    margin-top: 0;
}
.block.block-layered-nav  .block-title {
    text-transform: uppercase;
}
.block-layered-nav .currently ol{
    border: none;
    background-color: transparent;
}
.block-layered-nav .actions {
    border: none;
    background-color: transparent;
}
.block-layered-nav .currently .btn-previous, .block-layered-nav .currently .btn-remove {
    right: 7px;
    color: #21293c;
}
.block-layered-nav .actions a {
    color: #21293c;
}
#narrow-by-list dd .swatch-label {
    background-color: #fff;
    border: solid 1px #e9e9e9;
}
#narrow-by-list dd .swatch-link:hover .swatch-label {
    border-color: #2f3946;
    background-color: #2f3946;
    color: #fff;
}
.block-layered-nav dt:before, .block-category-nav .block-title:before{
    /* content:'\e873'; */
    border: 0;
    color: #000;
    right: 0;
    font-size: 12px;
    background-color: transparent;
}
/* .block-layered-nav dt.closed:before, .block-category-nav .block-title.closed:before{
    content:'\e874';
} */
.block-layered-nav dt:hover:before, .block-category-nav .block-title:hover:before {
    background-color: transparent !important;
    color: inherit;
}
.block-category-nav .category-list a,
.block-layered-nav dd a {
    font-size: 12px;
    line-height: 30px;
    color: #000000;
}
.price-filter-slider .text-box input.go {
    border-radius: 0;
}
.price-filter-slider .text-box {
    margin: 0 -5px;
}
.owl-top-narrow .sidebar-list .owl-controls {
    top:-35px;
    right: 0;
}
.sidebar h2.sidebar-title {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
    font-family: "Oswald";
    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
}
.sidebar .owl-top-narrow .owl-controls .owl-buttons div {
    color:#000;
}
.sidebar .custom-block {
    background-image: none;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
}
.sidebar-filterproducts.custom-block + h2 +h5{
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p{
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
}
.sidebar-filterproducts.custom-block + h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
    font-family: "Oswald";
    font-size: 12px !important;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}
.category-image {
    margin: 0 0 25px;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #fa4a4a;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.product-name a {
    color: #0e2f40;
}
.ratings {
    background: none;
}
.rating-box:before {
    color: #797876;
}
.filter-products .products div.item .details-area, .category-products .products-grid li.item .details-area {
    padding: 19px 10px;
}
.filter-products .products:not(.small-list) div.item .product-image-area,
.category-products .products-grid li.item .product-image-area {
    transition: all 0.3s;
}
.filter-products .products:not(.small-list) div.item:hover .product-image-area,
.category-products .products-grid li.item:hover .product-image-area {
    box-shadow: 0 25px 35px -5px rgba(0, 0, 0, 0.2);
}
.filter-products .products div.item .details-area .product-name {
    margin: 0;
}
.filter-products .products.small-list div.item .details-area .ratings {
    margin-top:0;
}
.filter-products .products.small-list div.item .price-box p {
    vertical-align: middle;
}
.filter-products .products div.item .product-image {
    border: solid 1px #ececec;
}
.filter-products .products div.item .details-area .product-name a {
    font-size: 15px;
    color: #7a7d82;
}
.filter-products .products.small-list div.item .details-area .product-name a {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.01em;
}
.filter-products .products.small-list div.item .details-area {
    padding-right: 0;
    padding-left: 14px;
}
.regular-price .price {
    font-family: 'Oswald';
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #0e2f40;
    font-weight: 400;
}
.special-price .price {
    font-family: 'Oswald';
    font-size: 18px;
    color: #ff0000;
    font-weight: 400;
}
.old-price .price {
    font-family: 'Oswald';
    color: #0e2f40;
    font-size: 14px;
    font-weight: 400;
}
a.quickview-icon {
    position: absolute;
    right: 0;
    left: 0;
    top: auto;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    font-size: 12.5px;
    font-family: 'Oswald';
    letter-spacing: 0.025em;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    height: 46px;
    text-transform: uppercase;
}
a.quickview-icon i {
    display: none;
}
.move-action .item-area a.quickview-icon {
    top: 0;
    bottom: auto;
}
a.addtocart {
    background-color: transparent;
    color: #2b2b2d;
    border-color: #d4d4d4;
    font-size: 12.5px;
    font-family: 'Oswald';
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}
a.addtocart i.icon-cart {
    font-size: 17px;
    line-height: 30px;
}
a.addtocart span {
    vertical-align: middle;
    display:inline-block;
    line-height:1;
    margin-top: -4px;
}
a.addtocart i:before {
    content: "\e87f";
}
a.addtowishlist .icon-wishlist:before{
    content: '\e889';
}
a.addtowishlist,a.comparelink {
    border-color:#d8d8d6;
    color:#302e2a;
}
a.comparelink .icon-compare:before {

}
.product-image-area .actions a.addtocart {
    border-color:#d8d8d6;
    color:#302e2a;
}
.products-list .item .details-area .actions a.quickview-icon {
    border-color:#d8d8d6;
    color:#302e2a;
}
.products-list .item .details-area .actions a.quickview-icon i {
    display: inline-block;
}
.products-list .item .details-area .actions {
    margin: 0;
}
.item .details-area .actions a.comparelink {
    left: -20px;
    line-height: 30px;
}
.item .details-area .actions a.addtowishlist{
    right: -20px;
    line-height: 30px;
}
.item:hover .details-area .actions a.addtocart, .category-products .products-list li.item .details-area .actions a.addtocart {
    color: #fff;
    background-color: #fa4a4a;
    border-color: #fa4a4a;
}

.toolbar .sorter {
    margin-bottom: 20px;
}
.sorter .view-mode i {
    border: none;
    font-size: 15px;
    width: 15px;
    height: 15px;
    color: #000;
}
.toolbar .sorter .sort-by select {
    min-width: 100px;
    margin-right: 10px;
}
.icon-mode-grid:before{
    content: "\e880";
}
.icon-mode-list:before{
    content: "\e87b";
}
.sorter .view-mode strong i, .sorter .view-mode a:hover i {
    background-color: transparent;
    color: #000;
}
.sorter .sort-by {
    margin-bottom: 0;
}
.sorter .view-mode {
    float: right;
    margin: 0;
    margin-right: 0;
    line-height: 29px;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}
.toolbar-bottom .pager .pages {
    display: block;
}
.pager li >a, .pager li >span {
    background: transparent;
    color: #706f6c;
    border: 0;
    line-height: 29px;
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600;
}
.pager .pages li {
    background: none !important;
    height: 32px;
    line-height: 30px;
    width: 32px;
    font-size: 15px;
    font-weight: 500;
    border: solid 1px #e9e9e9;
    font-weight: 600;
}
.pager .pages li a {
    color: #706f6c;
    background: none;
}
.toolbar .pages {
    display: none;
}
.toolbar-bottom {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}
.toolbar-bottom .toolbar {
    width: 100%;
}
.toolbar-bottom .pages {
    display: block;
}
.toolbar-bottom .sorter .limiter {
    float: left;
}
.pager .pages li .icon-right-dir:before {
    content: '\e81a';
}
.pager .pages li .icon-left-dir:before {
    content: '\e819';
}
.pager .pages li a.i-next, .pager .pages li a.i-previous {
    color: #78755c;
    font-size: 20px;
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
    background: none;
}
.pager li >a:hover {
    background-color: transparent;
}
.pager .pages .current {
    color: #706f6c;
}
.products-grid .ratings {
    margin: 0 0 9px;
}
.product-view .product-img-box li.etalage_thumb, .product-view .product-img-box li.etalage_small_thumbs li {
    padding: 0;
    border-color: #dae2e6;
    border-radius: 2px;
}
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active {
    border-color: #2f3946;
    position: relative;
}
.product-view .product-img-box li.etalage_small_thumbs li.etalage_smallthumb_active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #2f3946;
}
.product-view .product-img-box .etalage-control a.etalage-next {
    right: 7px;
}
.glyphicon-search:before {
    content: '\e873';
    font-family: 'porto';
    font-size: 14px;
    color: #21293c;
}
.product-view .product-name h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #21293c;
    margin: 0 0 15px;
}
.quickview-index-view .product-view .product-name h1 {
    margin: 15px 0;
}
.prev-next-products .product-nav {
    padding-bottom: 10px;
}
.prev-next-products a {
    line-height: 23px;
}
.ratings .rating-links .separator,.ratings .rating-links .separator + a {
    display: none;
}
.product-view .product-shop .short-description {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
    border-bottom: solid 1px #dae2e6;
}
.product-view .product-info, .product-options-bottom {
    border-bottom: none;
}
.product-view .product-shop .price-box .regular-price .price {
    font-size: 21px;
    font-weight: 700;
}
.product-view .product-shop .price-box .special-price .price {
    font-size: 21px;
    font-weight: 700;
}
.product-view .product-shop .price-box .old-price .price {
    font-size: 14px;
    line-height: 1;
}
.product-view .product-shop .availability {
    color: #7b858a;
    font-weight: 400;
}
.product-view .product-options .swatch-attr label {
    text-transform: uppercase;
    color: #21293c;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.005em;
}
.product-view .product-options .swatch-attr label .select-label {
    text-transform: capitalize;
    color: inherit;
}
.product-view .product-shop .short-description .std {
    line-height: 27px;
}
.qty-holder {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    width: 104px;
    position: relative;
    text-align: center;
}
.add-to-cart .qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #21293c;
    margin: 0;
    border-color: #dae2e6;
}
.qty-changer {
    display: block;
}
.qty-changer >a {
    position: absolute;
    top: 0;
    width: 30px;
    height: 43px;
    border: solid 1px #dae2e6;
    line-height: 41px;
    font-size: 11px;
    color: #8798a2;
}
.qty-changer .qty_inc {
    right: 1px;
}
.qty-changer .qty_inc i:before {
    content: '\e873';
}
.qty-changer .qty_dec {
    left: 1px;
}
.qty-changer .qty_dec i:before {
    content: '\e874';
}
.add-to-cart button.button {
    height: 43px;
}
.add-to-cart button.button span {
    height: 43px;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
    line-height: 41px;
}
.add-to-cart button.button span i {
    font-size: 18px;
    margin-right: 4px;
}
.add-to-cart button.button span i:before {
    content: '\e87f';
}
.product-view .add-to-links {
    margin: 0;
}
.product-view .add-to-links a {
    width: 43px;
    height: 43px;
    line-height: 41px;
}
.product-view .add-to-links .link-wishlist i:before{
    content: '\e889';
}
a.addtowishlist, .link-wishlist, a.comparelink, .link-compare,
a.addtowishlist:hover, .link-wishlist:hover, a.comparelink:hover, .link-compare:hover{
    border-color:#d8d8d6;
    color: #302e2a;
}
.product-tabs>ul li {
    border: none;
    background: none;
    border-right:0;
}
.product-tabs>ul li.active {
    border-bottom: #0088cc;
    background-color: transparent;
}
.product-tabs>ul li a {
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0 14px;
    margin-right: 37px;
    color: #818692;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.product-tabs>ul li.active a {
    color: #21293c;
    position: relative;
}
.product-tabs>ul li.active a:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #2f3946;
    left: 0;
    right: 0;
    bottom: 0;
}
.product-tabs .tab-content {
    border:none;
    border-top: solid 1px #dae2e6;
    box-shadow: none;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}
.product-tabs .tab-content p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}

.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    margin-bottom: 33px;
    padding:0 20px
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #ee3d43;
    border: none;
    font-size: 40px;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.block-manufacturer {
    text-align: center;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.block-manufacturer hr {
    border-color: #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.block-related .block-title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}
.block.block-related .owl-theme .owl-controls {
    top: -78px;
    right: 5px;
}
.block.block-related .owl-theme .owl-controls .owl-buttons div {
    font-size: 19px;
    width: 13px;
    position: relative;
    color: #21293c;
}
.block.block-related {
    padding: 0 20px;
}
.block.block-related .product {
    margin: 30px 0;
}
.block.block-related .product-name{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.001em;
    color:#7a7d82;
    margin: 5px 0 0;
}
.block.block-related .product-name a{
    color:#7a7d82;
}
.block.block-related .col-xs-6 {
    width: 40%;
}
.block.block-related .product-details {
    width: 60%;
}
.product-tabs .tab-content .std ul li {
    line-height: 36px;
}
.bottom-container {
    background-color: #f4f4f4;
    padding: 60px 0 45px;
    margin-top: -60px;
}
.bottom-container .box-up-sell >h2,
.product-view .box-up-sell >h2 {
    font-family: 'Oswald';
    background: none;
    font-size: 14px;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 400;
    margin-bottom: 16px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
    color: #302e2a;
}
.bottom-container .box-up-sell >h2 span,
.product-view .box-up-sell >h2 span {
    background: none;
}
.block.block-related .product .product-image {
    padding: 0;
    border-color:#ececec;
}
.cart .discount h2:before, .cart .shipping h2:before {
    content: '\e81c';
    border: 0;
    color: #21293c;
    font-size: 17px;
    background-color: transparent;
}
.cart .discount h2:hover:before, .cart .shipping h2:hover:before {
    background-color: transparent;
    border: 0;
    color: #21293c;
}
.cart .discount h2.opened:before, .cart .shipping h2.opened:before {
    content: '\e81b';
}
.footer-middle {
    padding: 66px 0 45px;
}
.footer-middle i,.footer-middle .contact-info i {
    display: none;
}
.footer-middle .block .block-title {
    margin-bottom: 20px;
}
.footer-middle .block .block-title strong {
    font-family: 'Oswald';
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}
.footer-middle a {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.005em;
}
.footer-middle, .footer-middle p {
    font-size: 13px;
    letter-spacing: 0.005em;
    font-weight: 400;
}
.footer-middle .contact-info p {
    line-height: 1;
}
.footer-middle .contact-info li {
    padding: 9px 0;
}
.footer-middle .contact-info b {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 7px;
    color:#fff;
    display: inline-block;
    text-transform: uppercase;
}
.footer-container .validation-advice {position: absolute;}
.footer-middle .input-box input {
    background-color: transparent;
    color: #686865;
    height: 48px;
    border: none;
    font-size: 13px;
    padding-left: 0;
    float: left;
    max-width: 330px;
    width: 100%;
    border-bottom: solid 1px #1f232f;
    padding-right: 100px;
}
.footer-middle .input-box button {
    float: left;
    width: auto;
    display: inline-block;
    margin-left: -85px;
}
.footer-middle .input-box button span {
    height: 48px;
    line-height: 48px;
    padding: 0;
    text-transform: uppercase;
    background-color: transparent;
    color:#fa4a4a;
    font-size: 13px;
    letter-spacing: 0.005em;
}
.footer-middle .input-box button span span:after{
    content: '\e81a';
    font-family: 'porto';
    padding-left: 8px;
}
.footer-bottom {
    padding: 30px 0 35px;
}
.footer-bottom .container {
    position: relative;
}
.footer-bottom .container:before {
    content: '';
    position: absolute;
    background-color: #1f232f;
    left: 15px;
    right: 15px;
    top: -30px;
    height: 1px;
    width: calc(100% - 30px);
}
.footer-bottom address {
    float: left;
    line-height: 36px;
}
.footer-bottom .custom-block {
    margin: 0;
}
.footer-bottom .custom-block img {
    vertical-align: top;
}
.footer-bottom .social-icons a {
    background-image: none;
    background-color: transparent;
    text-indent: 0;
    color: #fff;
    border-radius: 0;
    font-size: 12.86px;
    width: 34px;
    height: 34px;
    text-align: center;
    margin-left: 4px;
    float: left;
    line-height: 35px;
}
@media (min-width: 992px) {
    .slider-with-side .slider-area {
        width: 66%;
    }
    .slider-with-side .side-area {
        width: 34%;
    }
}
@media(max-width:767px){
    .add-to-cart button.button {
        width: 140px;
    }
.footer-bottom .block-bottom .social-icons {
    float: left !important;
    padding: 15px 0 0;
}
}
@media(max-width:375px){
    .product-view .add-to-links {
        margin: 10px 0 0;
    }
}