<?php $_product = $this->getProduct() ?>

<?php echo $this->getPriceHtml($_product); ?>
<?php 
$attribute_code = 'dimension';
$attribute_value = $_product->getResource()->getAttribute($attribute_code)->getFrontend()->getValue($_product);
$attr = Mage::getSingleton("eav/config")->getAttribute(Mage_Catalog_Model_Product::ENTITY, $attribute_code);

$text = $attr->getStoreLabel();
echo $text ." : ". $attribute_value ." per unit";
?>
<?php if ($_product->isAvailable()): ?>
	<p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
<?php else: ?>
	<p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
<?php endif; ?>

<?php echo $this->getChildHtml('product_type_data_extra') ?>
